<mat-card class="event-card" [ngClass]="{'event-card-light': isLightThemeSelected}">
  <mat-card-content class="event-card__content">
    <div [routerLink]="[getTeamPage(matchData.firstTeam)]" 
          class="event-card__team event-card__content-item"
          [ngClass]="{'event-card__team-light': isLightThemeSelected}">
      <div class="event-card__team-logo">
        <img [src]="matchData.firstTeam.teamLogo ? matchData.firstTeam.teamLogo : '../../../../../assets/photos/team-photo.png'">
      </div>
      <span class="event-card__team-name">
        {{matchData.firstTeam.teamName}}
      </span>
    </div>
    <div class="event-card__result event-card__content-item">
      <span *ngIf="gameScore">{{gameScore}}</span>
      <span *ngIf="!gameScore && matchData.date">{{matchData.date | date : 'dd.MM.yyyy'}}</span>
      <span *ngIf="!gameScore && !matchData.date">VS</span>
    </div>
    <div [routerLink]="[getTeamPage(matchData.secondTeam)]" 
          class="event-card__team event-card__content-item"
          [ngClass]="{'event-card__team-light': isLightThemeSelected}">
      <div class="event-card__team-logo">
        <img [src]="matchData.secondTeam.teamLogo ? matchData.secondTeam.teamLogo : '../../../../../assets/photos/team-photo.png'">
      </div>
      <span class="event-card__team-name">
        {{matchData.secondTeam.teamName}}
      </span>
    </div>
  </mat-card-content>
</mat-card>
