.loading-spiner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.news-card {
  margin-top: 50px;
  max-width: 700px;
  @media (max-width: 600px){
    margin-top: 0;
  }
  &__card-footer {
    display: flex;
    justify-content: flex-end;
    color: #b0b0b0
  }

  &__card-filling {
    padding: 0 10px 10px 10px;
  }

}
