<mat-toolbar color="primary">
  <div class="header-content">
    <span class="header-content__title">Sport Stats</span>
    <ul class="header-content__nav-bar">
      <li class="header-content__nav-item"><a href="#">Матчи</a></li>
      <li class="header-content__nav-item"><a href="#">Статистика</a></li>
      <li class="header-content__nav-item">
        <mat-form-field>
          <input class="header-content__search-input" matInput />
          <mat-icon class="header-content__search-icon" matSuffix>search</mat-icon>
          </mat-form-field>
      </li>
    </ul>
  </div>
</mat-toolbar>
