.message-card {
  width: 100%;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	font-weight: bold;
	box-sizing: border-box;

	&__error-icon {
		color: #d64646;
	}

	&__info-icon {
		color: #31708f;
	}

	&__info-message {
		color: #31708f;
	}

	&__error-message {
		color: #d64646;
	}

	&__message-text {
		margin-left: 15px;
	}

}

.error {
	background-color: #f99e9e;
	border: 2px solid #d64646;
}

.info {
	background-color: #83c9ec;
	border: 2px solid #31708f;
}