$ssDangerColor: #d64646;
$ssDangerBackground: #f99e9e;
$ssInfoColor: #31708f;
$ssInfoBackground: #83c9ec;

.message-card {
  width: 100%;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	font-weight: bold;
	box-sizing: border-box;

	&__error-icon {
		color: $ssDangerColor;
	}

	&__info-icon {
		color: $ssInfoColor;
	}

	&__info-message {
		color: $ssInfoColor;
	}

	&__error-message {
		color: $ssDangerColor;
	}

	&__message-text {
		margin-left: 15px;
	}

}

.error {
	background-color: $ssDangerBackground;
	border: 2px solid $ssDangerColor;
}

.info {
	background-color: $ssInfoBackground;
	border: 2px solid $ssInfoColor;
}