.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  &__card {
    width: 500px;
    padding: 20px;
    &-content {
      display: flex;
      flex-direction: column;
    }
    &-item {
      font-size: 17px;
    }
    &-item:not(:first-child) {
      margin-top: 15px;
    }
  }
}
