.event-card {
	width: 150px;
	color: #fff;

	&__body {
		display: flex;
		flex-direction: column;
	}

	&__date {
		padding: 5px;
		width: 100%;
		border: 2px solid #b0b0b0;
		border-bottom: none;
	}

	&__member {
		width: 100%;
		padding: 5px;
		display: flex;
		align-items: center;
		border: 2px solid #b0b0b0;
	}

	&__member:last-child {
		border-top: none;
	}

  &__logo {
    height: 30px;
    width: 30px;
	}
	
	&__name {
		font-size: medium;
		margin-left: 10px;
	}

}
