.event-card {
  background-color: #3c3b3b;
	&__item:not(:first-child) {
		margin-top: 10px;
	}
	&__content {
		display: flex;
		flex-direction: column;
	}
	&__team {
		display: flex;
		justify-content: space-around;
		align-items: center;
		border: 1px dashed #555555;
		cursor: pointer;
		padding: 5px;
		&-item {
			width: 50%;
			display: flex;
			justify-content: center;
		}
	}
	&__team:hover {
		background-color: #292828;
	}
	&__time {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2em;
	}
	&__logo {
		img {
			width: 30px;
			height: 30px;
		}
	}
}
