@import '../../../../shared/styles/color-schematic.scss';

.event-card {
  background-color: $darkBackground;
	&-light {
		background-color: $lightBackground;
	}
	&__item:not(:first-child) {
		margin-top: 10px;
	}
	&__content {
		display: flex;
		flex-direction: column;
	}
	&__team {
		transition: transform 0.08s;
		border-radius: 10px;
		&-light:hover {
			background-color: $lightHoverBackground!important;
		}
		display: flex;
		justify-content: space-around;
		align-items: center;
		border: 1px dashed #555555;
		cursor: pointer;
		padding: 5px;
		&-item {
			display: flex;
			justify-content: center;
		}
		&-item:first-child {
			width: 30%;
		}
		&-item:last-child {
			width: 70%;
		}
	}
	&__team:hover {
		background-color: $darkHoverBackground;
		transform: scale(1.02);
	}
	&__time {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2em;
	}
	&__logo {
		img {
			width: 30px;
			height: 30px;
		}
		.icon {
			font-size: 2em;
		}
	}
}
