<ng-container *ngTemplateOutlet="loading ? spiner : teamCard">
</ng-container>
<ng-template #teamCard>
  <mat-card *ngIf="!error" class="team-card">
    <mat-card-content>
        <div class="team-card__team-info">
          <div class="team-card__team-logo">
            <img [src]="teamInfo.teamLogo ? teamInfo.teamLogo : '../../../../../assets/photos/team-photo.png'" alt="">
          </div>
          <div class="team-card__about-team">
            <span class="team-card__team-name">{{ teamInfo.teamName }}</span>
            <div class="team-card__team-line-up">
              <div *ngFor="let teamMember of teamInfo.teamMembers" (click)="openPlayerPage(teamMember.memberId)" class="team-card__player-card">
                <div class="team-card__player-photo">
                  <img [src]="teamMember.memberPhoto" alt="">
                </div>
                <div class="team-card__player-nickname">
                  <span>{{ teamMember.memberNick }}</span>
                </div>
              </div>
            </div>
            <div class="team-card__stats-info">
              <div class="team-card__stats-row">
                <span class="team-card__stats-title">Вид спорта:</span>
                  <span class="team-card__stats-value">{{ teamInfo.sportType.sportTypeTitle }}</span>
              </div>
              <div class="team-card__stats-row">
                <span class="team-card__stats-title">Средний возраст игроков:</span>
                  <span class="team-card__stats-value">{{ teamInfo.memberAverageAge }}</span>
              </div>
              <div *ngFor="let teamStats of teamInfo.teamStats">
                <div class="team-card__stats-row">
                  <span class="team-card__stats-title">{{ teamStats.title }}:</span>
                  <span class="team-card__stats-value">{{ teamStats.value }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-card-footer>
          <div class="team-card__last-matches">
            <span class="team-card__last-match-title">Последние матчи:</span>
            <app-info-message *ngIf="!teamInfo.lastMatches" [messageText]="'Нет актуальной инфорамации по последним матчам ' + teamInfo.teamName"></app-info-message>
            <div *ngFor="let match of teamInfo.lastMatches">
              <div class="team-card__last-match-row">
                <div class="team-card__last-match-team">
                  <div class="team-card__last-match-team-logo">
                    <img src="{{ match.firstTeam.teamLogo ? match.firstTeam.teamLogo : '../../../../../assets/photos/team-photo.png' }}" alt="">
                  </div>
                  <span class="team-card__last-match-team-name">{{ match.firstTeam.teamName }}</span>
                </div>
                <span class="team-card__last-match-score">{{ match.score.firstTeam ? match.score.firstTeam : '0' }}:{{match.score.secondTeam}}</span>
                <div class="team-card__last-match-team">
                  <div class="team-card__last-match-team-logo">
                    <img src="{{ match.secondTeam.teamLogo ? match.secondTeam.teamLogo : '../../../../../assets/photos/team-photo.png' }}" alt="">
                  </div>
                  <span class="team-card__last-match-team-name">{{ match.secondTeam.teamName ? match.secondTeam.teamName : '0' }}</span>
                </div>
              </div>
            </div>
          </div>
        </mat-card-footer>
    </mat-card-content>
  </mat-card>
</ng-template>
<ng-template #spiner>
  <div class="loading-spiner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>