<mat-card class="teams-card">
  <mat-card-header class="teams-card__header">
    <mat-form-field appearance="fill">
      <mat-label>Вид спорта</mat-label>
      <mat-select>
        <mat-option>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <app-card-item class="teams-card__item" 
                    [title]="'Natus Vincere'"
                    [photo]="'https://img-cdn.hltv.org/teamlogo/kixzGZIb9IYAAv-1vGrGev.svg?ixlib=java-2.1.0&s=8f9986a391fcb1adfbfff021b824a937'"
                    [expandable]="true"
    ></app-card-item>
    <app-card-item class="teams-card__item" 
                    [title]="'Natus Vincere'"
                    [photo]="'https://img-cdn.hltv.org/teamlogo/kixzGZIb9IYAAv-1vGrGev.svg?ixlib=java-2.1.0&s=8f9986a391fcb1adfbfff021b824a937'"
                    [expandable]="true"
    ></app-card-item>
    <app-card-item class="teams-card__item" 
                    [title]="'Natus Vincere'"
                    [photo]="'https://img-cdn.hltv.org/teamlogo/kixzGZIb9IYAAv-1vGrGev.svg?ixlib=java-2.1.0&s=8f9986a391fcb1adfbfff021b824a937'"
                    [expandable]="true"
    ></app-card-item>
    <app-card-item class="teams-card__item" 
                    [title]="'Natus Vincere'"
                    [photo]="'https://img-cdn.hltv.org/teamlogo/kixzGZIb9IYAAv-1vGrGev.svg?ixlib=java-2.1.0&s=8f9986a391fcb1adfbfff021b824a937'"
                    [expandable]="true"
    ></app-card-item>
    <app-card-item class="teams-card__item" 
                    [title]="'Natus Vincere'"
                    [photo]="'https://img-cdn.hltv.org/teamlogo/kixzGZIb9IYAAv-1vGrGev.svg?ixlib=java-2.1.0&s=8f9986a391fcb1adfbfff021b824a937'"
                    [expandable]="true"
    ></app-card-item>
    <app-card-item class="teams-card__item" 
                    [title]="'Natus Vincere'"
                    [photo]="'https://img-cdn.hltv.org/teamlogo/kixzGZIb9IYAAv-1vGrGev.svg?ixlib=java-2.1.0&s=8f9986a391fcb1adfbfff021b824a937'"
                    [expandable]="true"
    ></app-card-item>
    <app-card-item class="teams-card__item" 
                    [title]="'Natus Vincere'"
                    [photo]="'https://img-cdn.hltv.org/teamlogo/kixzGZIb9IYAAv-1vGrGev.svg?ixlib=java-2.1.0&s=8f9986a391fcb1adfbfff021b824a937'"
                    [expandable]="true"
    ></app-card-item>
    <app-card-item class="teams-card__item" 
                    [title]="'Natus Vincere'"
                    [photo]="'https://img-cdn.hltv.org/teamlogo/kixzGZIb9IYAAv-1vGrGev.svg?ixlib=java-2.1.0&s=8f9986a391fcb1adfbfff021b824a937'"
                    [expandable]="true"
    ></app-card-item>
    <app-card-item class="teams-card__item" 
                    [title]="'Natus Vincere'"
                    [photo]="'https://img-cdn.hltv.org/teamlogo/kixzGZIb9IYAAv-1vGrGev.svg?ixlib=java-2.1.0&s=8f9986a391fcb1adfbfff021b824a937'"
                    [expandable]="true"
    ></app-card-item>
  </mat-card-content>
</mat-card>