:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.teams-card {
  margin-top: 20px;
  width: 70%;
  max-height: 86vh;
  overflow: auto;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__button {
    margin-top: 10px;
  }
}

.loading-spiner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-message {
  margin-top: 15px;
}