<div class="news">
  <div class="news__header">
    <div class="news__filters">
      <mat-form-field appearance="fill">
        <mat-label>Вид спорта</mat-label>
        <mat-select [formControl]="selectedSportTypeCode" [disabled]="!isSportTypeSelectActive" class="news__sport-select">
          <mat-option *ngFor="let item of sportTypes" [value]="item.code">{{ item.title }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <span class="news__last-news">Последние новости:</span>
  </div>
  <div class="news-list">
    <div *ngFor="let item of newsList" class="news-list__card-item">
      <app-news-item 
                    [title]="item.newsTitle" 
                    [subTitle]="item.newsSubtitle"
                    [date]="item.newsDate"
                    [photo]="item.newsPhoto"
                    [newsId]="item.newsId">
      </app-news-item>
    </div>
  </div>
</div>
