.news {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	&__last-news {
		font-size: 25px;
		color: #b0b0b0;
		margin-left: 10px;
	}
}

.news-list {
	margin-top: 10px;
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&__card-item {
		margin-bottom: 30px;
	}
}