<ng-container *ngTemplateOutlet="loading ? spiner : editForm"> </ng-container>

<ng-template #editForm>
  <mat-tab-group *ngIf="!error" mat-align-tabs="center">
    <mat-tab [ngSwitch]="selectedSection" label="Создать">
      <ng-container *ngSwitchCase="panelSections.PLAYER" [ngTemplateOutlet]="playerCreate"></ng-container>
      <ng-container *ngSwitchCase="panelSections.NEWS" [ngTemplateOutlet]="newsCreate"></ng-container>
      <ng-container *ngSwitchCase="panelSections.MATCHES" [ngTemplateOutlet]="matchCreate"></ng-container>
      <ng-container *ngSwitchCase="panelSections.TEAM" [ngTemplateOutlet]="teamCreate"></ng-container>
    </mat-tab>
    <mat-tab [ngSwitch]="selectedSection" label="Редактировать">
      <ng-container *ngSwitchCase="panelSections.PLAYER" [ngTemplateOutlet]="playerEdit"></ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #playerCreate>
  <div class="page-section" [formGroup]="newPlayerForm">
    <mat-form-field class="page-section__item">
      <mat-label>Имя игрока</mat-label>
      <input
        type="text"
        matInput
        maxlength="50"
        placeholder="Иванов Иван"
        formControlName="playerName"
      />
      <mat-error *ngIf="errorMessage">
        {{ errorMessage }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="page-section__item">
      <mat-label>Ник</mat-label>
      <input
        formControlName="playerNick"
        maxlength="50"
        type="text"
        matInput
        placeholder="nickname"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="page-section__item">
      <mat-label>Вид спорта</mat-label>
      <mat-select formControlName="sportTypeCode">
        <mat-option *ngFor="let item of sportTypesList" [value]="item.code">
          {{ item.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="page-section__item">
      <mat-label>Дата рождения</mat-label>
      <input
        matInput
        formControlName="playerBirthday"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="page-section__item">
      <mat-label>ID команды</mat-label>
      <input
        formControlName="playerTeamId"
        maxlength="24"
        type="text"
        matInput
        placeholder="XXXXXXXXXXXXXXXXXXXXXXXX"
      />
      <mat-error *ngIf="newPlayerForm.controls.playerTeamId.errors">
        <span>ID команды должен быть длинной 24 символа</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="page-section__item">
      <mat-label>Фотография</mat-label>
      <input
        formControlName="playerPhoto"
        type="text"
        matInput
        placeholder="url"
      />
    </mat-form-field>

    <div
      class="page-section__item"
      [matTooltip]="errorMessage ? errorMessage : isControlsHaveError(newPlayerForm.controls) ? 'Корректно заполните поля' : ''"
    >
      <button
        style="width: 100%"
        mat-raised-button
        color="primary"
        [disabled]="isControlsHaveError(newPlayerForm.controls) "
        (click)="createNewPlayer()"
      >
        Создать
      </button>
    </div>
  </div>
</ng-template>

<ng-template #playerEdit>
  <div class="page-section" [formGroup]='editPlayerForm'>
    <div class="page-section__row-bar page-section__item">
      <mat-form-field class="page-section__item">
        <mat-label>ID игрока</mat-label>
        <input formControlName="playerId"
                type="email"
                matInput
                placeholder="XXXXXXXXXXXXXXXXXXXXXXXX"
                maxlength="24"
        />
      </mat-form-field>
      <div class="page-section__item">
        <button style="width: 100%"
                mat-raised-button
                color="primary"
                [disabled]="!editPlayerForm.controls.playerId.value || !!editPlayerForm.controls.playerId.errors"
                (click)="searchPlayer()"
                >
          Найти
        </button>
      </div>
    </div>
    <div *ngIf="oldPlayerData && editPlayerForm.controls.playerId" class="page-section__edit-form">
      <div class="page-section__item page-section__photo">
        <img [src]="oldPlayerData.playerPhoto ? oldPlayerData.playerPhoto : '../../../../../assets/photos/player-photo.png'" alt="">
      </div>
      <mat-form-field class="page-section__item">
        <mat-label>Имя игрока</mat-label>
        <input
          type="text"
          matInput
          maxlength="50"
          placeholder="Иванов Иван"
          formControlName="playerName"
        />
        <mat-error *ngIf="editPlayerForm.controls.playerName.errors">
          <span>Минимальная длина имени - 5</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="page-section__item">
        <mat-label>Ник</mat-label>
        <input
          formControlName="playerNick"
          maxlength="50"
          type="text"
          matInput
          placeholder="nickname"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="page-section__item">
        <mat-label>Вид спорта</mat-label>
        <mat-select formControlName="sportTypeCode">
          <mat-option *ngFor="let item of sportTypesList" [value]="item.code">
            {{ item.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="page-section__item">
        <mat-label>Дата рождения</mat-label>
        <input
          matInput
          formControlName="playerBirthday"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="page-section__item">
        <mat-label>ID команды</mat-label>
        <input
          formControlName="playerTeamId"
          maxlength="24"
          type="text"
          matInput
          placeholder="XXXXXXXXXXXXXXXXXXXXXXXX"
        />
        <mat-error *ngIf="editPlayerForm.controls.playerTeamId.errors">
          <span>ID команды должен быть длинной 24 символа</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="page-section__item">
        <mat-label>Фотография</mat-label>
        <input
          formControlName="playerPhoto"
          type="text"
          matInput
          placeholder="url"
        />
      </mat-form-field>

      <div class="page-section__item">
        <div class="page-section__stats-item" *ngFor="let statsItem of oldPlayerData.playerStats; let i = index">
          <app-creating-stats [title]="statsItem.title"
                              [value]="statsItem.value"
                              (onStatsChanged)="changeStats($event, i)"
                              (onStatsDeleted)="deleteStats(i)"
                            >
          </app-creating-stats>
        </div>
      </div>

      <div class="page-section__item">
        <button mat-fab color="primary" (click)="addNewStats()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="page-section__item">
        <button style="width: 100%"
                mat-raised-button
                color="primary"
                [disabled]="isControlsHaveError(editPlayerForm.controls)"
                (click)="savePlayerChanges()"
        >
          Сохранить
        </button>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #newsCreate>
  <div class="page-section">
    <div class="page-section__edit-form" [formGroup]="createNewsForm">

      <mat-form-field class="page-section__item">
        <mat-label>Заголовок новости</mat-label>
        <input
          type="text"
          matInput
          maxlength="50"
          formControlName="newsTitle"
          placeholder="Заголовок"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="page-section__item">
        <mat-label>Вид спорта</mat-label>
        <mat-select formControlName="newsSportTypeCode">
          <mat-option *ngFor="let item of sportTypesList" [value]="item.code">
            {{ item.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="page-section__item">
        <mat-label>Описание новости</mat-label>
        <textarea
          formControlName="newsSubTitle"
          type="text"
          matInput
          placeholder="Описание"
        ></textarea>
      </mat-form-field>

      <mat-form-field class="page-section__item">
        <mat-label>Текст новости</mat-label>
        <textarea
          formControlName="newsText"
          type="text"
          matInput
          placeholder="Заголовок"
        ></textarea>
      </mat-form-field>

      <mat-form-field class="page-section__item">
        <mat-label>Фотография</mat-label>
        <input
          formControlName="newsPhoto"
          type="text"
          matInput
          placeholder="url"
        />
      </mat-form-field>

      <div class="page-section__item">
        <button style="width: 100%"
                mat-raised-button
                color="primary"
                [disabled]="isControlsHaveError(createNewsForm.controls)"
                (click)="createNewNews()"
        >
          Сохранить
        </button>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #matchCreate>
  <div class="page-section">
    <div class="page-section__edit-form" [formGroup]="createNewMatchForm">

      <mat-form-field class="page-section__item">
        <mat-label>ID первой команды</mat-label>
        <input
          type="text"
          matInput
          maxlength="24"
          formControlName="firstTeamId"
          placeholder="ID первой команды"
        />
      </mat-form-field>

      <mat-form-field class="page-section__item">
        <mat-label>ID второй команды</mat-label>
        <input
          type="text"
          matInput
          maxlength="24"
          formControlName="secondTeamId"
          placeholder="ID второрй команды"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="page-section__item">
        <mat-label>Вид спорта</mat-label>
        <mat-select formControlName="sportTypeCode">
          <mat-option *ngFor="let item of sportTypesList" [value]="item.code">
            {{ item.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="page-section__item">
        <mat-label>Дата проведения</mat-label>
        <input
          matInput
          formControlName="matchDate"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="page-section__item match-score">
        <mat-form-field class="match-score__item">
          <mat-label>Счет для первой команды</mat-label>
          <input
            type="number"
            matInput
            maxlength="10"
            formControlName="firstTeamScore"
            placeholder="Счет для первой команды"
          />
        </mat-form-field>
        <mat-form-field class="match-score__item">
          <mat-label>Счет второй команды</mat-label>
          <input
            type="number"
            matInput
            maxlength="10"
            formControlName="secondTeamScore"
            placeholder="Счет второй команды"
          />
        </mat-form-field>
      </div>

      <section class="page-section__item page-section__checkbox-container">
        <mat-checkbox formControlName="isComplited" class="example-margin">Матч завершен</mat-checkbox>
      </section>

      <div class="page-section__item">
        <button style="width: 100%"
                mat-raised-button
                color="primary"
                [disabled]="isControlsHaveError(createNewMatchForm.controls)"
                (click)="createNewMatch()"
        >
          Сохранить
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #teamCreate>
  <div class="page-section">
    <div class="page-section__edit-form" [formGroup]="createNewTeamForm">

      <mat-form-field class="page-section__item">
        <mat-label>Название команды</mat-label>
        <input
          type="text"
          matInput
          maxlength="50"
          formControlName="teamName"
          placeholder="Название команды"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="page-section__item">
        <mat-label>Вид спорта</mat-label>
        <mat-select formControlName="sportTypeCode">
          <mat-option *ngFor="let item of sportTypesList" [value]="item.code">
            {{ item.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="page-section__item">
        <mat-label>Логотип команды</mat-label>
        <input
          type="text"
          matInput
          formControlName="teamLogo"
          placeholder="URL"
        />
      </mat-form-field>

      <div class="page-section__item">
        <button style="width: 100%"
                mat-raised-button
                color="primary"
                [disabled]="isControlsHaveError(createNewTeamForm.controls)"
                (click)="createNewTeam()"
        >
          Сохранить
        </button>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #spiner>
  <div class="loading-spiner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
