<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{hidden: !(isHandset$ | async)}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list class="nav-list">
      <div>
        <a mat-list-item [routerLink]="['/main']" (click)="drawer.toggle()">Главная</a>
        <a mat-list-item [routerLink]="['/games']" (click)="drawer.toggle()">Матчи</a>
        <a mat-list-item [routerLink]="['/players']" (click)="drawer.toggle()">Игроки</a>
        <a mat-list-item [routerLink]="['/teams']" (click)="drawer.toggle()">Команды</a>
      </div>
      <section class="nav-list__toggle">
        <mat-slide-toggle
            [formControl]="themeControl"
            [color]="'accent'">
          Светлая тема
        </mat-slide-toggle>
      </section>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="header-content">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="header-content__title" [routerLink]="['/main']">Sport Stats</span>
        <ul *ngIf="!(isHandset$ | async)" class="header-content__nav-bar">
          <li class="header-content__nav-item"><a [routerLink]="['/games']">Матчи</a></li>
          <li class="header-content__nav-item"><a [routerLink]="['/players']">Игроки</a></li>
          <li class="header-content__nav-item"><a [routerLink]="['/teams']">Команды</a></li>
          <li class="header-content__nav-item" style="font-size: 5px;">
            <mat-form-field>
              <input class="header-content__search-input" [formControl]="searchControl" matInput />
              <mat-icon (click)="searchCoincidence()" class="header-content__search-icon" matSuffix>search</mat-icon>
            </mat-form-field>
          </li>
          <li class="header-content__nav-item">
            <section>
              <mat-slide-toggle
                  [formControl]="themeControl"
                  [color]="'accent'">
                Светлая тема
              </mat-slide-toggle>
            </section>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
