.sidenav {
  width: 200px;
  &-container {
    height: 100vh;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.header-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	&__title:hover {
		cursor: pointer;
	}
	&__nav-bar {
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__nav-item {
		margin-left: 10px;

		a {
			color: #fff;
			text-decoration: none;
		}

		a:hover {
			color: #b0b0b0;
		}

	}

	&__search-icon {
		font-size: 30px;
	}
}

::ng-deep .mat-toolbar.mat-primary {
	z-index: 5 !important;
}
