<mat-card class="card-body">
  <img
    mat-card-image
    src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg):focal(1633x511:1635x509)/origin-imgresizer.eurosport.com/2020/08/26/2872402-59156048-2560-1440.jpg"
    alt=""
  />
  <mat-card-content class="card-body__content">
    <div class="card-body__date">
      <span>25.12.2020</span>
    </div>
    <div class="card-body__title">
      <span>Следующий матч Месси станет его 500-м в Ла Лиге</span>
    </div>
    <div class="card-body__desc">
      <span>
        Если Лео Месси сыграет против Эйбара 29 декабря, он проведет в Ла Лиге
        свой 500-й матч. Только 10 игроков сделали это раньше: Андони
        Зубиццарета (617), Хоакин (565), Рауль (550), Эйсебио (543), Пако Буйо
        (542), Маноло Санчис (523), Икер Касильяс (510), Хави (505), Серхио
        Рамос (505) и Микель Солер (504).
      </span>
    </div>
    <mat-card-footer class="card-footer">
      <button mat-raised-button color="primary">Читать все</button>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
