<mat-card class="card-body">
  <img
    mat-card-image
    [src]="photo ? photo : '../../../../../assets/photos/news-photo.png'"
    alt=""
  />
  <mat-card-content class="card-body__content">
    <div class="card-body__date">
      <span>{{date | date: 'dd/MM/yyyy'}}</span>
    </div>
    <div class="card-body__title">
      <span>{{title}}</span>
    </div>
    <div class="card-body__desc">
      <span>{{subTitle}}</span>
    </div>
    <mat-card-footer class="card-footer">
      <button mat-raised-button color="primary" (click)="openNews()">Читать полностью</button>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
