<div class="card-body">
  <div class="card-body__img">
    <img src="https://cdn.tribuna.com/fetch/?url=https%3A%2F%2Fi.gyazo.com%2F673400d9d0ca5b7de6b76068a64ba60a.png" alt="">
  </div>
  <div class="card-body__date">
    <span>25.12.2020</span>
  </div>
  <div class="card-body__title">
    <span>Следующий матч Месси станет его 500-м в Ла Лиге</span>
  </div>
  <div class="card-body__desc">
    <span>
      Если Лео Месси сыграет против Эйбара 29 декабря, он проведет в Ла Лиге свой 500-й матч.
Только 10 игроков сделали это раньше: Андони Зубиццарета (617), Хоакин (565), Рауль (550), Эйсебио (543), Пако Буйо (542), Маноло Санчис (523), Икер Касильяс (510), Хави (505), Серхио Рамос (505) и Микель Солер (504).
    </span>
  </div>
</div>
