.card-body {
	width: 95%;
	max-width: 700px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	&__content {
		width: 100%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__date {
		width: 100%;
		color: #678ee6;
	}
	&__title {
		font-size: 25px;
		line-height: 1;
	}
	&__desc {
		color: #c1c1c1;
	}
}

.card-footer {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}