<div class="side-bar" [ngClass]="{'side-bar-light': isLightThemeSelected}">
  <div class="side-bar__groupe">
    <div
      [ngClass]="{
        'side-bar__selected-item': selectedSection === panelSections.PLAYER,
        'side-bar__item-light': isLightThemeSelected
      }"
      (click)="openSelectedSection(panelSections.PLAYER)"
      class="side-bar__item"
    >
      <span class="material-icons"> person </span>
      <span *ngIf="navBarOpen" class="side-bar__item-desc">Игроки</span>
    </div>
    <div
      [ngClass]="{
        'side-bar__selected-item': selectedSection === panelSections.TEAM,
        'side-bar__item-light': isLightThemeSelected
      }"
      (click)="openSelectedSection(panelSections.TEAM)"
      class="side-bar__item"
    >
      <span class="material-icons"> people_alt </span>
      <span *ngIf="navBarOpen" class="side-bar__item-desc">Команды</span>
    </div>
    <div
      [ngClass]="{
        'side-bar__selected-item': selectedSection === panelSections.NEWS,
        'side-bar__item-light': isLightThemeSelected
      }"
      (click)="openSelectedSection(panelSections.NEWS)"
      class="side-bar__item"
    >
      <span class="material-icons"> wysiwyg </span>
      <span *ngIf="navBarOpen" class="side-bar__item-desc">Новости</span>
    </div>
    <div
      [ngClass]="{
        'side-bar__selected-item': selectedSection === panelSections.MATCHES,
        'side-bar__item-light': isLightThemeSelected
      }"
      (click)="openSelectedSection(panelSections.MATCHES)"
      class="side-bar__item"
    >
      <span class="material-icons"> directions_run </span>
      <span *ngIf="navBarOpen" class="side-bar__item-desc">Матчи</span>
    </div>
  </div>
  <div class="side-bar__groupe">
    <div class="side-bar__item side-bar__open-button" (click)="togleNavBar()" [ngClass]="{'side-bar__item-light': isLightThemeSelected}">
      <span *ngIf="!navBarOpen" class="material-icons">
        arrow_forward_ios
      </span>
      <span *ngIf="navBarOpen" class="material-icons"> arrow_back_ios </span>
    </div>
  </div>
</div>
