<span *ngIf="loading" style="height: 100%; display: flex; justify-content: center; align-items: center;">
  <mat-spinner></mat-spinner>
</span>
<div *ngIf="!loading" class="player-card">
  <div class="player-card__player-info">
    <div class="player-card__player-photo">
      <img
        src="{{ playerInfo.playerPhoto }}"
        alt=""
      />
    </div>
    <div class="player-card__about-player">
      <span class="player-card__player-name">{{playerInfo.playerName}}</span>
      <div class="player-card__nickname-info">
        <span>Ник:</span>
        <span class="player-card__player-nickname">{{playerInfo.playerNick}}</span>
      </div>
      <div class="player-card__player-team">
        <span>Текущая команда:</span>
        <div class="player-card__team-info">
          <img
            class="player-card__team-logo"
            src="{{playerInfo.playerTeamIcon}}"
            alt=""
          />
          <span class="player-card__team-name">{{playerInfo.playerTeam}}</span>
        </div>
      </div>
      <div class="player-card__player-achievement">
        <span>Достижения:</span>
        <div class="player-card__achievement-list">
          <span class="player-card__achievements"
            >{{playerAchievements}}</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="player-card__stats-bar">
    <span class="player-card__stats">Статистика:</span>
    <div class="player-card__player-stats">
      <div *ngFor="let stats of playerInfo.playerStats">
        <div class="player-card__stats-row">
          <span>{{stats.title}}</span>
          <span class="player-card__stats-value">{{stats.value}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
