<mat-card class="card-item" [ngClass]="{'card-item-light': isLightThemeActive}">
  <mat-card-content class="card-item__content">
    <div class="card-item__photo">
      <img *ngIf="photo" [src]="photo" alt="">
      <mat-icon class="icon" *ngIf="!photo" aria-hidden="false">groups</mat-icon>
    </div>
    <div class="card-item__info">
      <span [routerLink]="'/team/' + id" class="card-item__name">
        {{title}}
      </span>
    </div>
  </mat-card-content>
  <mat-card-footer class="card-item__footer" *ngIf="expandable && memberList.length">
    <mat-icon [ngClass]="{'card-item__expand-button-light': isLightThemeActive}" class="card-item__expand-button" aria-hidden="false" (click)="extended = !extended">{{icon}}</mat-icon>
    <div *ngIf="extended" class="member-list">
      <div *ngFor="let item of memberList" 
            class="member-list__item" 
            [ngClass]="{'member-list__item-light': isLightThemeActive}"
            [routerLink]="'/player/' + item.playerId">
        <img [src]="item.playerPhoto">
        <span>{{item.playerName}}</span>
      </div>
    </div>
  </mat-card-footer>
</mat-card>