@import '../../styles/color-schematic.scss';

.card-item {
  margin-top: 20px;
  background-color: $darkBackground;
  &-light {
    background-color: $lightBackground;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__photo {
    img {
      object-fit: cover;
      border: 1px dashed #555555;
      padding: 3px;
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
    .icon {
      font-size: 3em;
    }
  }
  &__name {
    width: 100%;
    margin-left: 30px;
    font-size: 25px;
		color: #87a3bf;
    cursor: pointer;
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__expand-button {
    width: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    &-light:hover {
      background-color: $lightHoverBackground !important;
    }
  }
  &__expand-button:hover {
    background-color: $darkHoverBackground;
  }
  .member-list {
    margin: 10px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__item {
      cursor: pointer;
      width: 150px;
      height: 80px;
      padding: 5px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 5px;
      transition: transform 0.2s;
      color: #fff;
      background: linear-gradient(320deg, #8b2bb3, #50076f);
      box-shadow: 0 5px 10px rgba(0,0,0,0.5);
      img {
        object-fit: cover;
        border-radius: 10px;
        width: 50px;
        height: 50px;
      }
    }
    &__item:hover {
      z-index: 5;
      transform: scale(1.2);
      box-shadow: 0 14px 28px rgba(0,0,0,0.5)
    }
    &__item-light {
      background: linear-gradient(320deg, #4858c7, #0a1567);
    }
  }
}