:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.players-card {
  margin-top: 20px;
  width: 70%;
  max-height: 86vh;
  overflow: auto;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}