:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

::ng-deep {
  .mat-tab-body-content {
    overflow: hidden !important;
  }
}

.games-card {
  margin-top: 20px;
  width: 70%;
  max-height: 86vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    width: 100%;
  }
  &__footer {
    padding: 10px;
  }
}