<div class="upcomming-events">
  <div class="upcomming-events__header">
    <span class="upcomming-events__title">Предстоящие события:</span>
    <mat-form-field appearance="fill">
      <mat-label>Вид спорта</mat-label>
      <mat-select class="upcomming-events__sport-select" name="Спорт">
        <mat-option>Футбол</mat-option>
        <mat-option>Баскетбол</mat-option>
        <mat-option>Киберспорт</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="events-list">
    <div class="events-list__event-item">
      <app-upcomming-events-item></app-upcomming-events-item>
    </div>
    <div class="events-list__event-item">
      <app-upcomming-events-item></app-upcomming-events-item>
    </div>
    <div class="events-list__event-item">
      <app-upcomming-events-item></app-upcomming-events-item>
    </div>
    <div class="events-list__event-item">
      <app-upcomming-events-item></app-upcomming-events-item>
    </div>
    <div class="events-list__event-item">
      <app-upcomming-events-item></app-upcomming-events-item>
    </div>
    <div class="events-list__event-item">
      <app-upcomming-events-item></app-upcomming-events-item>
    </div>
  </div>
</div>
